<html><head>
    <meta charset="utf-8">
    <title>JSP Intro Quiz</title>

<body>

    <h3>JSP Intro Quiz</h3>
    <div>
        <a href="http://mumstudents.org/cs472/2021-03-BL/quiz/JSP_Intro_Quiz.pdf">Quiz pdf link</a>
    </div>

    <ol>
        <li>
            <p>What is the main value of Java Server Pages?</p>
          
           <p>A JavaServer Pages component is a type of Java servlet that is designed to fulfill the role of a user interface for a Java web application. Web developers write JSPs as text files that combine HTML or XHTML code, XML elements, and embedded JSP actions and commands.</p>
        </li>
        <li>
            <p>How are JSP pages related to servlets? </p>
           
            <p>JSP pages actually are compiled into Java servlets.</p>
        </li>
        <li>
            <p>How are JSP pages related to HTML?</p>
            <p>JSP consists of HTML markup embedded with JSP tags. When the file is processed on the server, the HTML is rendered as the application view, a web page. The embedded JSP tags will be used to call server-side code and data.</p>
        </li>
        <li>
           <p>Give an example of a JSP scriptlet and show how it will look in the JSP servlet . </p> 
           <p>Sample JSP code:</p>
           <pre>
            [code language=”html”]
            <H3> Sample JSP </H3>
            <% myMethod();%>
            [/code]
            
           </pre>
           <p>Corresponding translated Servlet code for above JSP code:</p>
            <pre>
                [code language=”java”]
                public void _jspService(HttpServletRequest request,HttpServletResponse response) throws ServletException, IOException {
                response.setContentType("text/html");
                HttpSession session = request.getSession();
                JspWriter out = response.getWriter();
                out.println("<H2>Sample JSP</H2>");
                myMethod();
                }[/code]

            </pre>
        </li>
        <li>
            <p>Give an example of a JSP declaration and show how it will look in the JSP servlet.</p>
            <p>In JSP  :<%! String name="Chaitanya"; %>,</p>
            <p>In Sevlet  :String name="Chaitanya";</p>
        </li>
        <li>
            <p>Give an example of a JSP comment and show how it will look in the JSP servlet. </p>
            <p>In JSP :<%-- comment --%>  </p>
            <p>in Servlet  : out.println("<!--comment -->")</p>
        </li>
        <li>
            <p>Give an example of a JSP expression and show how it will look in the JSP servlet. </p>
            <p>In JSP:<%= name %>, </p>
            <p>In Servlet:out.println(‘name’)</p>
        </li>
        <li>
            <p>Give an example of a JSP directive and show how it will look in the JSP servlet.</p>
           <p>In JSP:<%@ page import="java.util.* %> </p>
           <p>In Servlet:import java.io.IOException;</p>
        </li>
        <li>
            <p>Explain how an EL expression is evaluated. </p>
             <p>When the JSP compiler sees the ${} form in an attribute, it generates code to evaluate the expression and substitues the value of expresson.</p>
         </li>
        <li>
           <p>Explain how servlet attributes are involved in EL expressions.</p>
            <p>Example : < %= ((Person) request.getAttribute(“person”)).getDog().getName() %></p>
            <p>When we store data on a scope with setAttribute() method, the first argument is the name we are going to use later in the .jsp. It can be whatever. The second argument is the object to be stored and it will be accessed using the name used at the first one. The EL expression will search the name object in all scopes in this order: </p>
            <ol>
                <li>pageScope</li>
                <li>requestScope </li>
                <li>sessionScope</li>
                <li>applicationScope</li>
            </ol>
        </li>
        <li>
            <p>Explain how servlets and JSPs use request dispatch to interact.</p>
             <p> forward() method is used to transfer the client request to another resource (HTML file, servlet, jsp etc). When this method is called, the control is transferred to the next resource called. When you use JSP pages according to a Model 2 architecture, there is a servlet that acts as a controller (process of knowing) that sets attribute values based on computations and results from a business model (knower), then dispatches the request to the servlet generated by the JSP page (known). The JSP servlet then retrieves the attribute values and inserts them into the designated places in the HTML being sent to the browser.</p>
         </li>
    </ol>
</body>
</html>