body{
    background-color:#585646;
}
h1,h2 {
    color:#a5c1fd;
}
em{
    color:#f4fb82;
}
h2{
    text-transform: capitalize;
}
p,ul,span,ol{
    color:#ffffff;
}
.column >span{
    
    color:#ffffff;

}
ol{
    list-style-type: 1;
}
li > a{
    color:red !important;    
    text-decoration: none;
}
li > a:hover{
    color:red !important;    
    text-decoration:underline;
}
.column{
    display: inline-flex;
}
.column > img{
    height:120px;
    width:120px;
    display: flex;
}