* {
    box-sizing: border-box;
  }
h1,h2{
    color:#A4A400;
    background-color: #F0F0F0;
    display: table;
    text-decoration: underline;
    letter-spacing: 0.25em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}
h2{
    text-align: left;
    font-size: 18pt;
    font-weight: normal;
    text-transform: uppercase;
}
body{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    background: url(../images/recipe_images/silverware.jpg);
}
p{
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color:  #A4A400;
}
ul{
    list-style-image: url('../images/recipe_images/pie_icon.gif');
}

.recipe-details >ul{
    list-style-type:none;    
    padding: 0;
    list-style-image: none;
    
}

blockquote{
    background-color: #FFFFA8;
    font-style: italic;
}
p.small {
    line-height: 1;
  }
.html-validator, .css-validator{
    float:right;

}
.validator:after {
    content: "";
    display: table;
    clear: both;
}

    
.column-right{
    width: 25%;
    float: right;
    text-align: left;
}
.column-right > span.pipe{
    float: right;
}
footer:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width:980px) {
    /* For mobile phones: */
    .column-right {
      width:33%;
    }
}
@media (max-width:720px) {
    .column-right {
      width:45%;
    }
}
@media (max-width:640px) {
    /* For mobile phones: */
    .column-right {
      width:50%;
    }
}

@media (max-width:480px) {
    /* For mobile phones: */
    .column-right {
      width:75%;
    }
}

@media (max-width:320px) {
    /* For mobile phones: */
    .column-right {
      width:100%;
    }
}
