
.html-validator, .css-validator{
    float:right;

}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0097a7;
    color: white;
    text-align: center;
}
* {
    box-sizing: border-box;
  }